@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  font-family: 'Inter', sans-serif, system-ui, Avenir, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181a1b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

form {
  margin-top: 20px;
}

textarea {
  padding: 10px;
  width: 80%;
  font-size: 20px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}