<!-- home.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Hospital Database</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    <h1>Hospital Database</h1>
    <h2>Enter an SQLite query:</h2>
    <form method="POST">
      <textarea name="query_text" rows="5" placeholder="SELECT * FROM Hospital;">{% if query_text %}{{ query_text }}{% endif %}</textarea>
      <br />
      <input type="submit" value="Execute" />
    </form>
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %} {% if results %}
    <h2>Results:</h2>
    <table>
      <thead>
        <tr>
          {% for column_name in column_names %}
          <th>{{ column_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          {% for column in result %}
          <td>{{ column }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </body>
</html>
